<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<head>
    <meta http-equiv="Content-Type" charset="test/html; charset=UTF-8">
    <title>Title</title>
</head>

<body>
    <p th:text="${data}"></p>
    <p>[[${data}]]</p>

    <input type="button" onclick="saveOrder();" value="저장"/>
    <input type="button" onclick="findOrder();" value="찾기"/>
</body>
<script>
function asyncAjax(url, reqData, method) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url : url,
            data : JSON.stringify(reqData),
            method : method,
            contentType: 'application/json;charset=UTF-8',
            dataType : 'json',
            success : function (data) {
                resolve(data);
            },
            error : function (error) {
                reject(error);
            }
        });
    });
}

    async function findOrder() {
        let findOrder = await asyncAjax('/find', {id : 1}, 'POST');
        console.log(findOrder);
    }
    async function saveOrder() {
        let data = {
          name : "jaemin"
        }
        let result = await asyncAjax('/member', data, 'POST');
        console.log(result);
    }



</script>
</html>