<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<head>
    <meta http-equiv="Content-Type" charset="test/html; charset=UTF-8">
    <title>Title</title>
</head>

<body>
    NAME : <input id="memberName">
    <button type="button" onclick="saveOrder();">저장</button>
    <button type="button" onclick="findOrder();">찾기</button>
</body>
<script>
function asyncAjax(url, reqData, method) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url : url,
            data : JSON.stringify(reqData),
            method : method,
            contentType: 'application/json;charset=UTF-8',
            dataType : 'json',
            success : function (data) {
                resolve(data);
            },
            error : function (error) {
                reject(error);
            }
        });
    });
}

    async function findOrder() {
        let findOrder = await asyncAjax('/find', {id : 1}, 'POST');
        console.log(findOrder);
    }

    async function saveOrder() {
        let data = {
          name : $('#memberName').val(),
          homeAddress : {
              city : 'seoul',
              street : 'seoul',
              zipcode : 'seoul'
          },
          companyAddress : {
            city : 'seoul',
            street : 'seoul',
            zipcode : 'seoul'
          }
        }
        let result = await asyncAjax('/member', data, 'POST');
        console.log(result);
    }



</script>
</html>